*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 300px;
    height: 200px;
    background: green;
    display: flex;
    margin-bottom: 20px;
}

.child {
    width: 100px;
    height: 100px;
    background: red;
    margin: auto;
}

.main {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.main > .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.main > .left > p {
    text-align: right;
}

.main > .right {
    width: 50%;
}

.main > .right > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}