*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100px;
    height: 100px;
    background: #00f;
    margin: 20px auto;
    transition: 0.5s;
}

.main:hover{
    transform: translate(50%, 50%) rotate(360deg) scale(1.3) skew(-10deg, -10deg);
}